.products {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  height: calc(100vh - 80px);
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.imageCont {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.infoCont {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.ant-image {
  width: 100%;
}
.ant-image-preview-close {
  transform: translateY(55px); /* Adjust the vertical position as needed */
}
.splitableText {
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word;
}
